# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
out.asm
out
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.20.0/CMakeCCompiler.cmake
build/CMakeFiles/3.20.0/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.0/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.0/CMakeSystem.cmake
build/CMakeFiles/3.20.0/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.20.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Initium.dir/build.make
build/CMakeFiles/Initium.dir/cmake_clean.cmake
build/CMakeFiles/Initium.dir/compiler_depend.internal
build/CMakeFiles/Initium.dir/compiler_depend.make
build/CMakeFiles/Initium.dir/compiler_depend.ts
build/CMakeFiles/Initium.dir/depend.make
build/CMakeFiles/Initium.dir/DependInfo.cmake
build/CMakeFiles/Initium.dir/flags.make
build/CMakeFiles/Initium.dir/link.txt
build/CMakeFiles/Initium.dir/progress.make
build/cmake_install.cmake
build/CMakeCache.txt
.vscode/c_cpp_properties.json
.vscode/settings.json
output.asm
output
